.mrblue_section{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 15% auto;
    border: 2px dashed #6591aa  ;

}
.mrblue_article{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
.mrblue_article ul{
    display: inline-flex;   
    gap: 10%;
    background-color: #add5ea68;
    padding:5% 8%;
    border-radius: 100px;
}


.mrblue_section figure img{
    width: 100%;
    padding-top: 10%;
}

@media (min-width: 48em) {
    .mrblue_section{
        grid-template-columns: 1fr 1fr;}
}